/*+AnzeigeTafel*/
#HundertMeter_AnzeigeTafel{
	left:25%;
	top:20%;
	width:50%;
	height:75%;
	border:#111111 thin solid;
	background-color:#888888;
}
#HundertMeter_AnzeigeTafel_Display{
	left:5%;
	top:5%;
	width:90%;
	height:80%;
	border:white thin solid;
	background-color:black;
}
#HundertMeter_AnzeigeTafel_Display_Zeitnahme1{
	left:15%;
	top:30%;
}
#HundertMeter_AnzeigeTafel_Display_Zeitnahme2{
	left:15%;
	top:55%;
}
#HundertMeter_AnzeigeTafel_Display_Zeitnahme3{
	left:55%;
	top:30%;
}
#HundertMeter_AnzeigeTafel_Display_Zeitnahme4{
	left:55%;
	top:55%;
}
.HundertMeter_AnzeigeTafel_Display_Zeitnahme{
	width:30%;
	height:20%;
	color:white;
}
#HundertMeter_AnzeigeTafel_Fuss_Links{
	left:35%;
	top:95%;
	width:10%;
	height:5%;
	background-color:#777777;
}
#HundertMeter_AnzeigeTafel_Fuss_Rechts{
	left:55%;
	top:95%;
	width:10%;
	height:5%;
	background-color:#777777;
}
/*-AnzeigeTafel*/
