/*+Himmel*/
#HundertMeter_Himmel{
	left:0%;
	top:0%;
	width:100%;
	height:25%;
	background-color:#75e6f3;
	overflow:hidden;
}
#HundertMeter_Himmelcontainer{
	left:0%;
	top:0%;
	width:100%;
	height:100%;
	background-color:blue;
}
.HundertMeter_Himmelteil{
	width:100%;
	height:100%;
}
/*-Himmel*/
