/*+LaufBahn*/

#HundertMeter_LaufbahnOben{
	left:0%;
	top:50%;
	width:100%;
	height:5%;
	background-color:orange;
	overflow:hidden;
}
.HundertMeter_LaufbahnOben_Teil{
	width:100%;
	height:100%;
}
#HundertMeter_LaufbahnMitte{
	left:0%;
	top:55%;
	width:100%;
	height:25%;
	background-color:#a42727;
	overflow:hidden;
}
#HundertMeter_LaufbahnMitte_Container{
	width:100%;
	height:100%;
}
.HundertMeter_LaufbahnMitte_Teil{
	width:100%;
	height:100%;
}
.HundertMeter_LaufbahnMitte_Strich{
	background-color:white;
	width:100%;
	height:2%;
	left:0%;
}
#HundertMeter_LaufbahnMitte_Strich1{
	top:0%;
}
#HundertMeter_LaufbahnMitte_Strich2{
	top:25%;
}
#HundertMeter_LaufbahnMitte_Strich3{
	top:50%;
}
#HundertMeter_LaufbahnMitte_Strich4{
	top:75%;
}
#HundertMeter_LaufbahnMitte_Strich5{
	top:98%;
}
#HundertMeter_LaufbahnMitte_StartLinie{
	left:8.3%;
	top:0%;
	width:1.4%;
	height:100%;
	background-color:white;
}
#HundertMeter_LaufbahnMitte_ZielLinie{
	left:93%;
	top:0%;
	width:2%;
	height:100%;
	background-color:white;
}
#HundertMeter_LaufbahnUnten{
	left:0%;
	top:80%;
	width:100%;
	height:5%;
	background-color:orange;
	overflow:hidden;
}
.HundertMeter_LaufbahnUnten_Teil{
	width:100%;
	height:100%;
}
/*-LaufBahn*/
