/*+Spieler*/
#HundertMeter_Spieler1{
	left:5%;
	top:52%;
	background-color:transparent;
}
#HundertMeter_Spieler2{
	left:5%;
	top:58%;
}
#HundertMeter_Spieler3{
	left:5%;
	top:64%;
}
#HundertMeter_Spieler4{
	left:5%;
	top:70%;
}
.HundertMeter_Spieler{
	width:7%;
	height:10%;
}
.HundertMeter_Spieler_Kopf{
	left:40%;
	top:0%;
	width:20%;
	height:15%;
}
.HundertMeter_Spieler_Kopf_Haare{
	left:0%;
	top:0%;
	width:80%;
	height:30%;
}
.HundertMeter_Spieler_Schulter{
	left:30%;
	top:15%;
	width:40%;
	height:10%;
}
.HundertMeter_Spieler_Brust{
	left:35%;
	top:25%;
	width:30%;
	height:15%;
}
.HundertMeter_Spieler_ArmRechts_TeilA{
	left:55%;
	top:17%;
	width:20%;
	height:10%;
}
.HundertMeter_Spieler_ArmRechts_TeilB{
	left:55%;
	top:17%;
	width:10%;
	height:20%;
}
.HundertMeter_Spieler_HandRechts{
	left:55%;
	top:17%;
	width:8%;
	height:8%;
}
.HundertMeter_Spieler_ArmLinks_TeilA{
	left:55%;
	top:17%;
	width:20%;
	height:10%;
}
.HundertMeter_Spieler_ArmLinks_TeilB{
	left:55%;
	top:17%;
	width:10%;
	height:20%;
}
.HundertMeter_Spieler_HandLinks{
	left:55%;
	top:17%;
	width:8%;
	height:8%;
}
.HundertMeter_Spieler_Huefte{
	left:35%;
	top:40%;
	width:30%;
	height:10%;
}
.HundertMeter_Spieler_BeinRechts_TeilA{
	left:55%;
	top:17%;
	width:20%;
	height:10%;
}
.HundertMeter_Spieler_BeinRechts_TeilB{
	left:55%;
	top:17%;
	width:10%;
	height:20%;
}
.HundertMeter_Spieler_FussRechts{
	left:55%;
	top:17%;
	width:8%;
	height:8%;
}
.HundertMeter_Spieler_BeinLinks_TeilA{
	left:55%;
	top:17%;
	width:20%;
	height:10%;
}
.HundertMeter_Spieler_BeinLinks_TeilB{
	left:55%;
	top:17%;
	width:10%;
	height:20%;
}
.HundertMeter_Spieler_FussLinks{
	left:55%;
	top:17%;
	width:8%;
	height:8%;
}
/*-Spieler*/
